*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

font-family:Arial;
background:#0f0f0f;
color:white;

}



.chat-container{

width:550px;

margin:40px auto;

background:#181818;

padding:25px;

border-radius:15px;

}



h1{

text-align:center;

color:red;

margin-bottom:20px;

}



button{

width:100%;

padding:12px;

margin:8px 0;

background:#ff0000;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}



.guest{

background:#333;

}



.rooms{

display:flex;

gap:10px;

}



.rooms button{

flex:1;

}



input{

width:100%;

padding:12px;

margin:10px 0;

border-radius:8px;

border:none;

}



.messages{

height:320px;

overflow-y:auto;

background:#101010;

padding:15px;

border-radius:10px;

}



.message{

background:#222;

padding:12px;

margin:10px 0;

border-radius:12px;

}



.message b{

color:red;

}